<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Sue N. Dee's Online Shop Of Dreams</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!--Added css and fonts-->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC:700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
</head>

<body>
<a href="/"><img src="/static/img/returntoSleep.png" height="200" width="200" align="left" style="opacity: 0.85;"></a>
<div class="jumbotron text-center">

    <h1 style="padding-right: 90px">Sue N. Dee's Online Shop Of Dreams</h1>
    <div class="badge-cart" style="margin-right: 50px">
        <a href="/item">
            <img src="/static/img/supplier.png" height="60" width="60" align="right">
            <span class="badge cart-image" th:text="${cart}">Num</span>
        </a>

        <div th:switch="${user}">
            <div th:case="0">
                <div class="btn btn-secondary"> <a class="btn btn-link" href="/registration">Register Here</a></div>
                <div class="btn btn-primary"> <a class="btn btn-link" href="/login">Login</a></div>
            </div>
            <div class="btn"> <a class="btn btn-link" th:case="*" href="/logout">Logout</a></div>
        </div>
    </div>
</div>


<div class="panel-group" id="accordion_by_supplier" style="margin-top: 20px; margin-left: 50px; margin-right: 50px">
    <div class="panel panel-default">
         <div class="panel-heading well well-sm" id="headingAmazon">
            <h5 class="mb-0 panel-title">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseAmazon" aria-expanded="true" aria-controls="collapseOne" th:text="${suppliers.get(0).getName()}">
                    Category Title
                </button>
            </h5>
        </div>
        <div id="collapseAmazon" class="panel-collapse collapse in" aria-labelledby="headingAmazon" data-parent="#accordion_by_supplier">
            <div class="panel-body">
                <div class="container">
                    <div id="amazon" class="row list-group">
                        <div class="item col-xs-4 col-lg-4" th:each="prod,iterStat : ${nature}">
                            <div class="thumbnail">
                                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt="" />
                                <div class="caption">
                                    <h4 class="group inner list-group-item-heading" th:text="${prod.name}">Product name</h4>
                                    <p class="group inner list-group-item-text" th:text="${prod.description}">Product description... </p>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <a class="btn btn-success"  th:href="@{/add(id=${prod.id})}">Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading well well-sm" id="headingLenovo">
            <h5 class="mb-0 panel-title">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseLenovo" aria-expanded="true" aria-controls="collapseOne" th:text="${suppliers.get(1).getName()}">
                    Category Title
                </button>
            </h5>
        </div>
        <div id="collapseLenovo" class="panel-collapse collapse" aria-labelledby="headingLenovo" data-parent="#accordion_by_supplier">
            <div class="panel-body">
                <div class="container">
                    <div id="lenovo" class="row list-group">
                        <div class="item col-xs-4 col-lg-4" th:each="prod,iterStat : ${higherPower}">
                            <div class="thumbnail">
                                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt="" />
                                <div class="caption">
                                    <h4 class="group inner list-group-item-heading" th:text="${prod.name}">Product name</h4>
                                    <p class="group inner list-group-item-text" th:text="${prod.description}">Product description... </p>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <a class="btn btn-success"  th:href="@{/add(id=${prod.id})}">Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading well well-sm" id="headingAsus">
            <h5 class="mb-0 panel-title">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseAsus" aria-expanded="true" aria-controls="collapseOne" th:text="${suppliers.get(2).getName()}">
                    Category Title
                </button>
            </h5>
        </div>
        <div id="collapseAsus" class="panel-collapse collapse" aria-labelledby="headingAsus" data-parent="#accordion_by_supplier">
            <div class="panel-body">
                <div class="container">
                    <div id="asus" class="row list-group">
                        <div class="item col-xs-4 col-lg-4" th:each="prod,iterStat : ${innerVoice}">
                            <div class="thumbnail">
                                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt="" />
                                <div class="caption">
                                    <h4 class="group inner list-group-item-heading" th:text="${prod.name}">Product name</h4>
                                    <p class="group inner list-group-item-text" th:text="${prod.description}">Product description... </p>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <a class="btn btn-success"  th:href="@{/add(id=${prod.id})}">Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading well well-sm" id="headingApple">
            <h5 class="mb-0 panel-title">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseApple" aria-expanded="true" aria-controls="collapseOne" th:text="${suppliers.get(3).getName()}">
                    Category Title
                </button>
            </h5>
        </div>
        <div id="collapseApple" class="panel-collapse collapse" aria-labelledby="headingApple" data-parent="#accordion_by_supplier">
            <div class="panel-body">
                <div class="container">
                    <div id="apple" class="row list-group">
                        <div class="item col-xs-4 col-lg-4" th:each="prod,iterStat : ${fate}">
                            <div class="thumbnail">
                                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt="" />
                                <div class="caption">
                                    <h4 class="group inner list-group-item-heading" th:text="${prod.name}">Product name</h4>
                                    <p class="group inner list-group-item-text" th:text="${prod.description}">Product description... </p>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <a class="btn btn-success"  th:href="@{/add(id=${prod.id})}">Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="footer.html :: copy"></div>

</body>
</html>