.glyphicon {
    margin-right:5px;
}
body, .row.cart-body, .panel.panel-default, .panel-heading.well.well-sm, .jumbotron.text-center, .panel-info > .panel-heading, .footer.panel.panel-default {
    margin: 0px;
    background-image: url("/static/img/background.jpg") !important;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.panel.panel-default, .panel-heading.well.well-sm {
    margin-top: 0px !important;
    background-image: url("/static/img/background-stars.jpeg") !important;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.95;
}

.well {
    margin-top: 20px;
     margin-bottom: 0px !important;
 }

.panel-group{
    margin-bottom: 0px;
}

h1{
    font-family: 'Playfair Display SC', serif;
    color: rgba(85, 80, 133, 0.8);
    margin-left: 50px;
}

span.badge.cart-image{
    position: absolute;
    right: -2px;
    top: 15px;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    padding:5px 10px;
    font-size:15px;
}

div.badge-cart{
    position:relative;
    padding-top:20px;
}

.panel-title btn.btn-link{
    color: #f1f1f1;
}
.thumbnail
{
    background-color: #b9b9b9;
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.thumbnail img
{
    margin-top: 10px;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: bottom;
}

.review-image
{
    padding: 0px 100px 0px 500px;
}

.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: #eee;
    text-decoration: none;
}

img.group.list-group-image{
    width: 400px;
    height: 250px;
    overflow: hidden;
}

.form-control.col-md-12 {
    width: 50%;
}

.container, .container.wrapper {
    padding: 0px;
}

